/* This file contains styles shared between landing page and app */

.ornament{
    max-width: 90%;
    width: 220px;
    min-height: 30px;
    background-image: url(../img/floral-gee784469f_640.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    background-position: center;
    margin: 0 auto;
}